* {
	margin : 0;
	padding : 0;
	border : 0;
}

@media print { 
    
    h1, h2, h3, p {
     color: #000; 
     font-family: Times, 'Times New Roman', serif;
    }

    #contact_div{
        display: none;
    }
   }


h2 img{
    height: 18px;
}

form p{

    padding: 3px;   
    font-size: 20px;
    display: block;

}

body{

    background-color: #e6e8e3;
}


@media print { 
    
    h1, h2, h3, h4, p {
     color: #000; 
     font-family: Times, 'Times New Roman', serif;
    }

    #name_div{

      
    }

    #contact_div{
        display: none;
    }

    .up{
         display: none;
    }
   }


h2 img{
    height: 18px;
}

form p{

    padding: 3px;   
    font-size: 20px;
    display: block;

}

.table_first{

    width: 31%;
}

.table_second{
    width: 5%;
}

#big_div{

    width: 80%;
    margin: 8% auto;
    box-shadow:
    0 0 0 7px #60B88D,
    0 0 0 14px #90CDAF,
    0 0 0 21px #BFE3D1;
    background-color: #f3f3f3;
    height: 80%;
    padding-top: 2%;
}

#name_div{

    min-width: 60%;
    margin: 8% auto auto 0;
    height: 80%;
    
}

#name_div p{

    margin-left: 150px;

}



#about_div{

    padding: 1%;
    background-color: #e6e8e3;
    border: 3px ridge #e6e8e8;
    width: 62%;
    margin: 7% auto auto auto ;
    height: 80%;
}


#work_div{

    border: 0px ridge #e6e8e3;
    width: 100%;
    margin: 8% auto auto 0;
    height: 80%;
}

.p_work{
     font-size: 13px;
     font-style: oblique;
}

.tab{

    width: 80%;
    margin: 5% auto auto auto;
  
}

<<<<<<< HEAD
=======
.tab tr th p{
    font-size: 20px;
}

>>>>>>> refs/remotes/origin/master
table, th, td {

    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {

    padding: 6px;


}

#educ_div{

    border: 0px ridge #e6e8e3;
    width: 100%;
    margin: 8% auto auto 0;
    padding-top: 5%;

}

#skill_div{

    border: 0px solid black;
    width: 100%;
    margin: 8% auto auto 0;

}

#ul-div{
    
    border: 0px solid black;
    width: 80%;
    margin: 5% auto auto auto;

}


progress {
	
    width: 95%;
    background: #333;
    border-radius: 13px;
    height: 20px;
    padding: 3px;

}

progress::-webkit-progress-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
}
progress::-webkit-progress-value {
        background-color: black;
        border-radius: 3px;
} 
progress::-moz-progress-bar {
        background-color: black;
        width: 100%;
}

#contact_div{

    width: 100%;
    margin: 8% auto auto 0;

}

#form_id{
    width: 80%;
    margin: 5% auto auto auto;
}

.input_class{

    font-size: 25px;
    width: 40%;
    height: 22px;

}


input[type=text] {

    font-size: 20px;
    background-color: #3CBC8D;
    color: white;
    padding: 12px 20px;
}
input[type=email] {

    font-size: 20px;
    background-color: #3CBC8D;
    color: white;
    padding: 12px 20px;
}

input[type=text]:focus {
    border: 2px solid #555;

}
input[type=email]:focus {
    border: 2px solid #555;
}

textarea {
    

    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
	width:50%;
	height: 100px;

}


form fieldset{ 
   
    margin-bottom: 5%;
   
}

form input{
    margin-bottom: 2%;
}

form label {

    display: block;
    font-size: 22px;
}

form legend{
    text-align: center;
    font-size: 25px;

}



#button1{ 

<<<<<<< HEAD

    border-radius: 10px;
    font-size: 30px;
    background-color: #e7e7e7;
    color: black;
    border: 2px solid #ccc;
    margin: auto auto auto 5%;
    width: 20%;
}

#button2{ 
=======
>>>>>>> refs/remotes/origin/master

    border-radius: 10px;
    font-size: 30px;
    background-color: #e7e7e7;
    color: black;
    border: 2px solid #ccc;
    margin: auto auto auto 5%;
<<<<<<< HEAD
    width: 22%;
}

=======
    width: 20%;
}

#button2{ 

    border-radius: 10px;
    font-size: 30px;
    background-color: #e7e7e7;
    color: black;
    border: 2px solid #ccc;
    margin: auto auto auto 5%;
    width: 22%;
}

>>>>>>> refs/remotes/origin/master
#button1:hover {
    background-color: #4CAF50; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

#button2:hover {
    background-color: #ff3300; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
<<<<<<< HEAD
=======
}


.up{

    position: fixed;
    right: 25px;
    bottom: 20px;
    border-radius: 3px;
    box-shadow: rgba(2,0,0,5.5) 0px 1px 3px;
>>>>>>> refs/remotes/origin/master
}

.up:hover{

    box-shadow: -webkit-box-shadow: 0px 0px 38px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 38px -4px rgba(0,0,0,1);
    box-shadow: 0px 0px 38px -4px rgba(0,0,0,1);

}


section{
    position: fixed;
    margin-top: -250%;

}

section ul{

    text-align: center;

}
section ul p{
    font-size: 24px;
    margin-bottom: 15px;
}
section ul li{

    text-align: center;
    margin-bottom: 15px;
}

section img{

    border-radius: 30px;
    width: 50px;
    height: 50px;

}

section img:hover{
    border-radius: 30px;
    box-shadow: rgba(2,0,0,5.5) 0px 1px 3px;
}